body {
  background-color: #666;
}

#game {
  font-size: 36pt;
  width: 12em;
  height: 12em;
  font-family: sans-serif;
  margin: auto; /*horizontally center the game*/
}

/*game board display*/
#board {
  border: 2px solid #ffff00;
  font-size: 36pt;
  width: 12em;
  height: 12em;
  background-color: white;
}

#board tr {
  margin: 0;
  padding: 0;
}

#board td {
  width: 12.5%;
  height: 12.5%;
  margin: 0px;
  padding: 0px;
  border: 0px;

  color: #ff0000;

  text-align: center;
}

#board td.blacksq {
  background-color: black;
}

#board td.white {
  color: white;
  text-shadow:   0px  1px 2px black,
                 1px  0px 2px black,
                 0px -1px 2px black,
                -1px  0px 2px black;
}

#board td.black {
  color: black;
  text-shadow:   0px  1px 2px white,
                 1px  0px 2px white,
                 0px -1px 2px white,
                -1px  0px 2px white;
}

#board td.singleHighlight {
  box-shadow:   inset  0.2em  0.0em 0.5em red,
                inset  0.0em  0.2em 0.5em red,
                inset -0.2em  0.0em 0.5em red,
                inset  0.0em -0.2em 0.5em red;

}

#board td.multiHighlight {
  box-shadow:   inset  0.2em  0.0em 0.5em yellow,
                inset  0.0em  0.2em 0.5em yellow,
                inset -0.2em  0.0em 0.5em yellow,
                inset  0.0em -0.2em 0.5em yellow;

}

/*controls display*/
#game div {
  background-color: #ccc;
  width: 100%;
  font-size: 18pt;
  text-align: center;
  padding: 0.2em 0 0.2em 0;
}

#game button {
  border: 0;
  background: none;
  box-shadow:none;
  border-radius: 999px;
  background-color: #900;
  color: white;
  font-size: 18pt;
}
